* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #242c44;
  color: white;
}

.todo-app {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 100px;
}

.todolist {
  text-align: left;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 25px;
  border-radius: 25px;
  background-color: #2f3957;
}

.todolist:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
}

.addedtodos {
  margin-top: 15px;
  padding: 0px;
}

input {
  width: 300px;
  height: 35px;
  padding: 5px;
  margin-top: 20px;
  border-radius: 25px;
  border-width: 1px;
  padding-left: 10px;
  border-style: solid;
  border-color: white;
}

.check {
  cursor: pointer;
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 25px;
  font-size: 13px;
}